
@model Chat.DomainModel.Room
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Salas</h2>
        <div id="roomDiv" class="col-md-12">
            <ul id="rooms">
                <li><a> @Model.Name</a></li>
            </ul>

        </div>
    </div>    
    <div class="col-md-6">
        <h2>Chat Arquitecturas Web</h2>
        @if (Model.Messages != null)
        {
            <ul id="messages" >
                @foreach (var message in Model.Messages)
                {
                    <li>@message.Sender.Name: <span>@message.Content</span> <p>@message.Date.ToShortTimeString()</p></li>
                }

            </ul>

        }
        else
        {

            <textarea>Sala vacia</textarea>
        }
        


        <form method="post" action="/Chat/PostMessage">
            <input name="content" id="content" type="text" style="width: 87%;"/>
            <input type="hidden" name="roomName" id="roomName" value="@Model.Name" />
            <button class="success" value="Aceptar" type="submit">Aceptar</button>
        </form>
    </div>
    <div class="col-md-3">
        <h2>Usuarios</h2>
        <div id="usersDiv" class="col-md-12">
            <ul id="users">
                @foreach(var user in Model.Users)
                {
                    <li><a>@user</a></li>

                 }

            </ul>

        </div>
    </div>    
</div>

<script>
    //setInterval("reloadMessages()", 10000);

         var reloadMessages = function () {
            $("#messages").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMessagesByRoom", "Chat")', // we are calling json method
                dataType: 'json',
                data: { roomName: '@Model.Name' },

                success: function (messages) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(messages, function (i, message) {
                        
                        $("#messages").append('<li>' + message.sender.name + ': <span>' + message.content + '</span> <p>' + message.date + '</p></li>');

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve messages.' + ex);
                }
            });
            return false;
        };

</script>
